vendor/etc/license.lic
vendor/etc/camera/license.lic
firmware-update/modem.img
system/system/priv-app/OppoGallery2/OppoGallery2.apk
system/system/priv-app/GmsCore/GmsCore.apk
system/system/etc/camera/license_release.lic
system/system/app/Chrome/Chrome.apk
